:root {
    --grid-columns: 5;
    --grid-item-height: 100px;
}

/* main grid, duh */
#main-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: 0.5rem;

    > .empty {
        border: 1px dashed gray;
    }

    > section {    
        border: 2px solid lightgray;
        border-radius: 15px;
        /* overflow-y: hidden; */
        padding: 0.5rem;
        height: var(--grid-item-height);
        overflow: hidden;

        > .over {    
        opacity: 0.3;
        border: 1px dashed black;
        }

        > .inner {
            height: 100%;
            overflow-y: scroll;
        }
    }
}

/* inner div SDB */
#main-grid section.single-data-block {
    & > .inner div.input {
        border: 1px dotted gray;
        padding: 0.1rem;
        border-radius: 3px;

        &:focus {
            outline: 0px solid transparent;
            border: 1px solid black;
            border-radius: 3px;
        
        }
    }

}