* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body > * {
    padding: 0.5rem;
    margin: 0.5rem;
}

main {
    flex-grow: 1;
}

header {
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}

nav {
    display: flex;
    justify-content: space-between;
}

div#modal.shown {
    &:not(.shown) {
        display: hidden;
    }
}

#modal.shown {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    height: 100%;
    display: none;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    padding: 20px;
    background: rgb(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}